flows.json
[
    {
        "id": "725a545cb4fac89b",
        "type": "tab",
        "label": "ChildSeat-BT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01ecbcc0a0480276",
        "type": "tab",
        "label": "DriverSeat-BT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b97996d6be3b20d",
        "type": "tab",
        "label": "DataProcessing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3447f339839df60",
        "type": "tab",
        "label": "MQTTManager-Temp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "184a15d076c8e48b",
        "type": "tab",
        "label": "MQTTManager-Chair",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb61235aabc67653",
        "type": "tab",
        "label": "UIDashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "259173f275cc6689",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "temperature",
                "value": "",
                "type": "str"
            },
            {
                "name": "seatStatus",
                "value": "",
                "type": "str"
            }
        ]
    },
    {
        "id": "aa1ef34d95c73406",
        "type": "mqtt-broker",
        "name": "Pi-MQTT-broker",
        "broker": "192.168.0.210",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ff662371681fea8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "c8917dab2885b1c1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f73e7441f07e501b",
        "type": "ui-page",
        "name": "ControlUnit Dashboard",
        "ui": "6ff662371681fea8",
        "path": "/ControlUnit",
        "icon": "home",
        "layout": "grid",
        "theme": "c8917dab2885b1c1",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fdeb4ceee753aee1",
        "type": "ui-group",
        "name": "ChildSeat-01",
        "page": "f73e7441f07e501b",
        "width": "6",
        "height": "3",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "733dd6f3bcf89506",
        "type": "ui-group",
        "name": "Log",
        "page": "f73e7441f07e501b",
        "width": "2",
        "height": "6",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "771baac3846ce298",
        "type": "ui-group",
        "name": "AlertGroup",
        "page": "f73e7441f07e501b",
        "width": "6",
        "height": "2",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1e9daffed656cf28",
        "type": "ui-group",
        "name": "Driver In Seat",
        "page": "f73e7441f07e501b",
        "width": "3",
        "height": "3",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2bec3aa9c2d7edbe",
        "type": "inject",
        "z": "725a545cb4fac89b",
        "name": "start",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "fb2da2fb50c4982e"
            ]
        ]
    },
    {
        "id": "fb2da2fb50c4982e",
        "type": "pythonshell in",
        "z": "725a545cb4fac89b",
        "name": "ble_con_node",
        "pyfile": "/home/Project/test-v03/ble_con_node.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "d014cd0126241f2d"
            ]
        ]
    },
    {
        "id": "d014cd0126241f2d",
        "type": "split",
        "z": "725a545cb4fac89b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "61ae27e8b7b8eae0"
            ]
        ]
    },
    {
        "id": "3ceba11ef99240fe",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "61ae27e8b7b8eae0",
        "type": "split",
        "z": "725a545cb4fac89b",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "3ceba11ef99240fe",
                "9e6ab79ab952898d",
                "f0e1742407f538a1"
            ]
        ]
    },
    {
        "id": "09d1e194346d4b84",
        "type": "switch",
        "z": "725a545cb4fac89b",
        "name": "Varible split",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ChildSeat 0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChildSeat 1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "f3645d2570a1c8f9",
                "15b48a69ac737dde"
            ],
            [
                "1a71c64f8fd0d4a0"
            ]
        ]
    },
    {
        "id": "f3645d2570a1c8f9",
        "type": "change",
        "z": "725a545cb4fac89b",
        "name": "ChildSeat-01_temp",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ChildSet-01_temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "739ab9b95fd93513",
                "062f68ba7ce8563e"
            ]
        ]
    },
    {
        "id": "1a71c64f8fd0d4a0",
        "type": "change",
        "z": "725a545cb4fac89b",
        "name": "ChildSeat-01_active",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ChildSeat-01_active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "28560fb2e7024a8a",
                "93de4bfcf7b6dec3"
            ]
        ]
    },
    {
        "id": "739ab9b95fd93513",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "28560fb2e7024a8a",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "15b48a69ac737dde",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e6ab79ab952898d",
        "type": "change",
        "z": "725a545cb4fac89b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"ChildSeat \" & parts.index",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "df0bfddc3f34b1d2",
                "09d1e194346d4b84"
            ]
        ]
    },
    {
        "id": "df0bfddc3f34b1d2",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0e1742407f538a1",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "062f68ba7ce8563e",
        "type": "change",
        "z": "725a545cb4fac89b",
        "name": "childSeat-01_temp-global",
        "rules": [
            {
                "t": "set",
                "p": "childSeat-01_temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "87356c3416719a37"
            ]
        ]
    },
    {
        "id": "87356c3416719a37",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4cfb9b9c0957c24",
        "type": "inject",
        "z": "725a545cb4fac89b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "childSeat-01_active",
        "payloadType": "global",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "7679c4c7f79a8f0b"
            ]
        ]
    },
    {
        "id": "7679c4c7f79a8f0b",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "93de4bfcf7b6dec3",
        "type": "change",
        "z": "725a545cb4fac89b",
        "name": "childSeat-01_active-global",
        "rules": [
            {
                "t": "set",
                "p": "childSeat-01_active",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "0627ea7c4fd0bf03"
            ]
        ]
    },
    {
        "id": "0627ea7c4fd0bf03",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 340,
        "wires": []
    },
    {
        "id": "befb074058e26e68",
        "type": "inject",
        "z": "725a545cb4fac89b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "childSeat-01_temp",
        "payloadType": "global",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "6433a878ab1ac422"
            ]
        ]
    },
    {
        "id": "6433a878ab1ac422",
        "type": "debug",
        "z": "725a545cb4fac89b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 620,
        "wires": []
    },
    {
        "id": "9fb881c55350616e",
        "type": "inject",
        "z": "01ecbcc0a0480276",
        "name": "DVR in Seat check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dvrInSeat",
        "payloadType": "global",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "e8f57071344c8929"
            ]
        ]
    },
    {
        "id": "e8f57071344c8929",
        "type": "debug",
        "z": "01ecbcc0a0480276",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 660,
        "wires": []
    },
    {
        "id": "3d5f6453b9b43796",
        "type": "inject",
        "z": "01ecbcc0a0480276",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "330fdc6009fd9c54"
            ]
        ]
    },
    {
        "id": "330fdc6009fd9c54",
        "type": "toggleUltimate",
        "z": "01ecbcc0a0480276",
        "name": "Toggle",
        "valueToToggle": "true",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "f1840dd8d74e9327"
            ]
        ]
    },
    {
        "id": "f1840dd8d74e9327",
        "type": "change",
        "z": "01ecbcc0a0480276",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dvrInSeat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "6f3d0ca613050d07"
            ]
        ]
    },
    {
        "id": "6f3d0ca613050d07",
        "type": "debug",
        "z": "01ecbcc0a0480276",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "613b0f1f6b551826",
        "type": "InvertUltimate",
        "z": "01ecbcc0a0480276",
        "d": true,
        "name": "Invert",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "ad75df4cf404be26"
            ]
        ]
    },
    {
        "id": "e6e98921c481a833",
        "type": "inject",
        "z": "01ecbcc0a0480276",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "dvrInSeat",
        "payloadType": "global",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "613b0f1f6b551826"
            ]
        ]
    },
    {
        "id": "ad75df4cf404be26",
        "type": "change",
        "z": "01ecbcc0a0480276",
        "d": true,
        "name": "dvrnotinseat",
        "rules": [
            {
                "t": "set",
                "p": "dvrNotInSeat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "f8ed57fb061a48df"
            ]
        ]
    },
    {
        "id": "f8ed57fb061a48df",
        "type": "debug",
        "z": "01ecbcc0a0480276",
        "d": true,
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "a913164a65acf9c0",
        "type": "inject",
        "z": "01ecbcc0a0480276",
        "name": "start",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "04f886f2ef3e68e5"
            ]
        ]
    },
    {
        "id": "04f886f2ef3e68e5",
        "type": "pythonshell in",
        "z": "01ecbcc0a0480276",
        "name": "ble_con_node",
        "pyfile": "/home/Project/test-v03/dvr_ble_con_node.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "e37e20dafecf45b8"
            ]
        ]
    },
    {
        "id": "e37e20dafecf45b8",
        "type": "split",
        "z": "01ecbcc0a0480276",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "31d8e08c1688d153"
            ]
        ]
    },
    {
        "id": "31d8e08c1688d153",
        "type": "change",
        "z": "01ecbcc0a0480276",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dvrInSeat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 100,
        "wires": [
            [
                "63163cb3de489194"
            ]
        ]
    },
    {
        "id": "63163cb3de489194",
        "type": "debug",
        "z": "01ecbcc0a0480276",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbb3745a6396b568",
        "type": "inject",
        "z": "6b97996d6be3b20d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "childSeat-01_active",
        "payloadType": "global",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "f1d11b68bf06c189"
            ]
        ]
    },
    {
        "id": "e15581bf75e66a37",
        "type": "inject",
        "z": "6b97996d6be3b20d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "childSeat-01_temp",
        "payloadType": "global",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "cc7bbbc767bbcfd9"
            ]
        ]
    },
    {
        "id": "cc7bbbc767bbcfd9",
        "type": "delay",
        "z": "6b97996d6be3b20d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "3d43957577bddfea"
            ]
        ]
    },
    {
        "id": "3d43957577bddfea",
        "type": "change",
        "z": "6b97996d6be3b20d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "4581e2895a7a4fab",
                "10fd312632d94c98",
                "76eb53226471fa6c"
            ]
        ]
    },
    {
        "id": "4581e2895a7a4fab",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1d11b68bf06c189",
        "type": "delay",
        "z": "6b97996d6be3b20d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "12d7100cde225af2"
            ]
        ]
    },
    {
        "id": "0ff18dfde65b8493",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "12d7100cde225af2",
        "type": "bool",
        "z": "6b97996d6be3b20d",
        "name": "conToBool",
        "outputs": 1,
        "inputField": "payload",
        "outputField": "payload",
        "outputFormat": "bool",
        "handleNull": "null",
        "invert": false,
        "strict": false,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "0ff18dfde65b8493",
                "1b04ddb55ebad4a6"
            ]
        ]
    },
    {
        "id": "0b4e1ad77e5092ef",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "10fd312632d94c98",
        "type": "function",
        "z": "6b97996d6be3b20d",
        "name": "compareTemp",
        "func": "var temp1 = msg.payload;\nvar temp2 = 26.5\n\n// compare\nif (temp1 >= temp2){\n    msg.payload = true\n}\nelse {\n    msg.payload = false\n}\n\n// create a new variable to hold the average\nglobal.set(\"highTempAlert\", msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 460,
        "wires": [
            [
                "0b4e1ad77e5092ef"
            ]
        ]
    },
    {
        "id": "3edb4b2792ef1918",
        "type": "inject",
        "z": "6b97996d6be3b20d",
        "name": "Temp Alert check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "highTempAlert",
        "payloadType": "global",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "bd2abed988e3a73b"
            ]
        ]
    },
    {
        "id": "bd2abed988e3a73b",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "76eb53226471fa6c",
        "type": "ui-gauge",
        "z": "6b97996d6be3b20d",
        "name": "ChildSeat-01",
        "group": "fdeb4ceee753aee1",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "degrees",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#3584e4"
            },
            {
                "from": "18",
                "color": "#26a269"
            },
            {
                "from": "26",
                "color": "#e5a50a"
            },
            {
                "from": "30",
                "color": "#a51d2d"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "1b04ddb55ebad4a6",
        "type": "ui-text",
        "z": "6b97996d6be3b20d",
        "group": "fdeb4ceee753aee1",
        "order": 1,
        "width": "3",
        "height": "3",
        "name": "",
        "label": "ChildSeat-01-Active",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "22",
        "color": "#1c71d8",
        "className": "",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "25b4a0b09ba64d13",
        "type": "inject",
        "z": "6b97996d6be3b20d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "dvrInSeat",
        "payloadType": "global",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "dbd730901fbb5d2a"
            ]
        ]
    },
    {
        "id": "dbd730901fbb5d2a",
        "type": "delay",
        "z": "6b97996d6be3b20d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "d3ab4cf2e1c39e0c"
            ]
        ]
    },
    {
        "id": "73735014c93391b5",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "d3ab4cf2e1c39e0c",
        "type": "bool",
        "z": "6b97996d6be3b20d",
        "name": "conToBool",
        "outputs": 1,
        "inputField": "payload",
        "outputField": "payload",
        "outputFormat": "bool",
        "handleNull": "null",
        "invert": false,
        "strict": false,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "73735014c93391b5",
                "edeb763d7df55d09",
                "da10730e2661ff95"
            ]
        ]
    },
    {
        "id": "edeb763d7df55d09",
        "type": "ui-text",
        "z": "6b97996d6be3b20d",
        "group": "1e9daffed656cf28",
        "order": 1,
        "width": "3",
        "height": "3",
        "name": "DriveInSeat",
        "label": "DriverInSeat",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "22",
        "color": "#1c71d8",
        "className": "",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "da10730e2661ff95",
        "type": "InvertUltimate",
        "z": "6b97996d6be3b20d",
        "name": "Invert",
        "payloadPropName": "payload",
        "x": 730,
        "y": 720,
        "wires": [
            [
                "51ec777aa5f2c2d4"
            ]
        ]
    },
    {
        "id": "51ec777aa5f2c2d4",
        "type": "change",
        "z": "6b97996d6be3b20d",
        "name": "dvrnotinseat",
        "rules": [
            {
                "t": "set",
                "p": "dvrNotInSeat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "8147b8f970fbdfb8"
            ]
        ]
    },
    {
        "id": "8147b8f970fbdfb8",
        "type": "debug",
        "z": "6b97996d6be3b20d",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 720,
        "wires": []
    },
    {
        "id": "a36b9be8f3d47a52",
        "type": "mqtt out",
        "z": "c3447f339839df60",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa1ef34d95c73406",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "d76620d544157797",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 60,
        "wires": []
    },
    {
        "id": "c67519e968823902",
        "type": "mqtt in",
        "z": "c3447f339839df60",
        "name": "",
        "topic": "temp-alert-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 560,
        "wires": [
            [
                "4d8e83fa01d3688f",
                "b2341fa14e815dd6"
            ]
        ]
    },
    {
        "id": "4a8d7618601b0ebd",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 640,
        "wires": []
    },
    {
        "id": "3278d92e91346868",
        "type": "function",
        "z": "c3447f339839df60",
        "name": "function 1",
        "func": "\nmsg.payload = \"Warning High Temp Detected\"\nmsg.topic = \"test\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "a36b9be8f3d47a52",
                "d76620d544157797"
            ]
        ]
    },
    {
        "id": "f992803c8c063105",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c889f5b02e93393a"
            ]
        ]
    },
    {
        "id": "391f8a3afe0b659b",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "Temp Alert check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "highTempAlert",
        "payloadType": "global",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "d0929c6846a8c3f8"
            ]
        ]
    },
    {
        "id": "d0929c6846a8c3f8",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "bb752fe2dca49fa8",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAlertNotSent",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "749322e21b381117"
            ]
        ]
    },
    {
        "id": "52147ffb7c35d9af",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "",
        "props": [],
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "bb752fe2dca49fa8"
            ]
        ]
    },
    {
        "id": "749322e21b381117",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "3fe2cb0eb8149a5d",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "e1dbccffe2bb2bc1"
            ]
        ]
    },
    {
        "id": "acc6a05ce579c333",
        "type": "BooleanLogicUltimate",
        "z": "c3447f339839df60",
        "name": "",
        "payloadPropName": "payload",
        "filtertrue": "onlytrue",
        "persist": false,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "trigger",
        "outputtriggeredby": "all",
        "inputCount": "3",
        "topic": "result",
        "restrictinputevaluation": false,
        "delayEvaluation": "3",
        "translatorConfig": "",
        "x": 800,
        "y": 220,
        "wires": [
            [
                "3278d92e91346868",
                "c08790537f02710e"
            ],
            [],
            []
        ]
    },
    {
        "id": "ee373dbef330ff36",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "highTempAlert",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hightemp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "ea7d27c8c83c0090",
                "acc6a05ce579c333"
            ]
        ]
    },
    {
        "id": "ea7d27c8c83c0090",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f67f2a3c428ee2f",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "8bd5b98b89501119",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tempAlertNotSent",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alertsent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "3f67f2a3c428ee2f",
                "acc6a05ce579c333"
            ]
        ]
    },
    {
        "id": "c08790537f02710e",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAlertNotSent",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "d7f204735f0e7a7d",
                "4d8e83fa01d3688f"
            ]
        ]
    },
    {
        "id": "d7f204735f0e7a7d",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 260,
        "wires": []
    },
    {
        "id": "c889f5b02e93393a",
        "type": "delay",
        "z": "c3447f339839df60",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "ee373dbef330ff36"
            ]
        ]
    },
    {
        "id": "e1dbccffe2bb2bc1",
        "type": "delay",
        "z": "c3447f339839df60",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "8bd5b98b89501119"
            ]
        ]
    },
    {
        "id": "511b279d1e368d41",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "tempAlertNotSentcheck",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "tempAlertNotSent",
        "payloadType": "flow",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "eb5cb1825f3c1bf7"
            ]
        ]
    },
    {
        "id": "eb5cb1825f3c1bf7",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 640,
        "wires": []
    },
    {
        "id": "4d8e83fa01d3688f",
        "type": "trigger",
        "z": "c3447f339839df60",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "ack",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "655efb659d0d9385"
            ]
        ]
    },
    {
        "id": "655efb659d0d9385",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAlertNotSent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 360,
        "wires": [
            [
                "4b89afaae0c77167"
            ]
        ]
    },
    {
        "id": "4b89afaae0c77167",
        "type": "debug",
        "z": "c3447f339839df60",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "6337358fd1fa7fb1",
        "type": "inject",
        "z": "c3447f339839df60",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "9789fac6fdc64890"
            ]
        ]
    },
    {
        "id": "5e7c791340fc7eb4",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "childSeat-01_active",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "childseatactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "acc6a05ce579c333"
            ]
        ]
    },
    {
        "id": "9789fac6fdc64890",
        "type": "delay",
        "z": "c3447f339839df60",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "5e7c791340fc7eb4"
            ]
        ]
    },
    {
        "id": "b2341fa14e815dd6",
        "type": "delay",
        "z": "c3447f339839df60",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "8d77eda1a8e33772"
            ]
        ]
    },
    {
        "id": "8d77eda1a8e33772",
        "type": "change",
        "z": "c3447f339839df60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAlertNotSent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "4a8d7618601b0ebd"
            ]
        ]
    },
    {
        "id": "7acc291f8048761e",
        "type": "mqtt out",
        "z": "184a15d076c8e48b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa1ef34d95c73406",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "2633f771463921f9",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "419ac451831e93a2",
        "type": "mqtt in",
        "z": "184a15d076c8e48b",
        "name": "",
        "topic": "child-seat-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "aa856ccc84a9dc6a",
                "5ecfe8031f08a59d",
                "9b9924f0d39689e6"
            ]
        ]
    },
    {
        "id": "a433a37fb9533647",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 520,
        "wires": []
    },
    {
        "id": "a3f2d47e2ab19dba",
        "type": "function",
        "z": "184a15d076c8e48b",
        "name": "function 2",
        "func": "\nmsg.payload = \"Warning unattedned child in seat - please acknowledge\"\nmsg.topic = \"childInSeatTest\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 120,
        "wires": [
            [
                "7acc291f8048761e",
                "2633f771463921f9"
            ]
        ]
    },
    {
        "id": "7660157f8fbd9aa4",
        "type": "inject",
        "z": "184a15d076c8e48b",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "235deb3b1932cd6c"
            ]
        ]
    },
    {
        "id": "0fc8c07aa4e1236f",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "seatAlertNotSent",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "693df3f38e03ecf0"
            ]
        ]
    },
    {
        "id": "7b9dbfd0ead5e991",
        "type": "inject",
        "z": "184a15d076c8e48b",
        "name": "",
        "props": [],
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "0fc8c07aa4e1236f"
            ]
        ]
    },
    {
        "id": "693df3f38e03ecf0",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "c32740fb8b508722",
        "type": "inject",
        "z": "184a15d076c8e48b",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "3c7c4b7d2a8c0bc1"
            ]
        ]
    },
    {
        "id": "3b05906631047892",
        "type": "BooleanLogicUltimate",
        "z": "184a15d076c8e48b",
        "name": "",
        "payloadPropName": "payload",
        "filtertrue": "onlytrue",
        "persist": false,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "trigger",
        "outputtriggeredby": "all",
        "inputCount": "3",
        "topic": "result",
        "restrictinputevaluation": false,
        "delayEvaluation": "3",
        "translatorConfig": "",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "a3f2d47e2ab19dba",
                "d3a2aa2dd3a4b191"
            ],
            [],
            []
        ]
    },
    {
        "id": "6effa2e4d8b176d3",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dvrNotInSeat",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dvrnotinseat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "7082f9b8a4dde776",
                "3b05906631047892"
            ]
        ]
    },
    {
        "id": "7082f9b8a4dde776",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "229398469467b2db",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "bfa9cc1e2d9dedc1",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "seatAlertNotSent",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alertsent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "229398469467b2db",
                "3b05906631047892"
            ]
        ]
    },
    {
        "id": "d3a2aa2dd3a4b191",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "seatAlertNotSent",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "b0368de9d064c788",
                "aa856ccc84a9dc6a"
            ]
        ]
    },
    {
        "id": "b0368de9d064c788",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "235deb3b1932cd6c",
        "type": "delay",
        "z": "184a15d076c8e48b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 80,
        "wires": [
            [
                "6effa2e4d8b176d3"
            ]
        ]
    },
    {
        "id": "3c7c4b7d2a8c0bc1",
        "type": "delay",
        "z": "184a15d076c8e48b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "bfa9cc1e2d9dedc1"
            ]
        ]
    },
    {
        "id": "b4bf5b41050ef4c0",
        "type": "inject",
        "z": "184a15d076c8e48b",
        "name": "seatAlertNotSent",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "seatAlertNotSent",
        "payloadType": "flow",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "bd8977f0a0bc7669"
            ]
        ]
    },
    {
        "id": "bd8977f0a0bc7669",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 620,
        "wires": []
    },
    {
        "id": "aa856ccc84a9dc6a",
        "type": "trigger",
        "z": "184a15d076c8e48b",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "ack",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "476a5d0b61e63f76",
                "45a0debd90dffe94"
            ]
        ]
    },
    {
        "id": "476a5d0b61e63f76",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "seatAlertNotSent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 340,
        "wires": [
            [
                "a9beb2ae2e8fb9e0"
            ]
        ]
    },
    {
        "id": "a9beb2ae2e8fb9e0",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ecfe8031f08a59d",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "4c1ef632132455cc",
        "type": "inject",
        "z": "184a15d076c8e48b",
        "name": "",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "e553f663950526ab"
            ]
        ]
    },
    {
        "id": "a9a6228dd02e4367",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "childSeat-01_active",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "childseatactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "3b05906631047892"
            ]
        ]
    },
    {
        "id": "e553f663950526ab",
        "type": "delay",
        "z": "184a15d076c8e48b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "a9a6228dd02e4367"
            ]
        ]
    },
    {
        "id": "45a0debd90dffe94",
        "type": "debug",
        "z": "184a15d076c8e48b",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 440,
        "wires": []
    },
    {
        "id": "9b9924f0d39689e6",
        "type": "delay",
        "z": "184a15d076c8e48b",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "81a0d6034be49d19"
            ]
        ]
    },
    {
        "id": "81a0d6034be49d19",
        "type": "change",
        "z": "184a15d076c8e48b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "seatAlertNotSent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "a433a37fb9533647"
            ]
        ]
    },
    {
        "id": "e27b23a975a73203",
        "type": "ui-text",
        "z": "cb61235aabc67653",
        "group": "733dd6f3bcf89506",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Activity Log",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "2351ee32af05de73",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "e27b23a975a73203"
            ]
        ]
    },
    {
        "id": "a21e7aa2441f93f8",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "temp-alert-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "e27b23a975a73203"
            ]
        ]
    },
    {
        "id": "d5d8a844311dbb54",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "childInSeatTest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "e27b23a975a73203"
            ]
        ]
    },
    {
        "id": "49e53e755430bd37",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "child-seat-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "e27b23a975a73203"
            ]
        ]
    },
    {
        "id": "d02b60947d84622b",
        "type": "ui-text",
        "z": "cb61235aabc67653",
        "group": "771baac3846ce298",
        "order": 0,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Active Alerts",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "24",
        "color": "#ed333b",
        "className": "",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "9bf2e2bae7552258",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "d02b60947d84622b"
            ]
        ]
    },
    {
        "id": "3e7dc02b7d90ac3c",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "temp-alert-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "26ccefa726b5eb0b"
            ]
        ]
    },
    {
        "id": "83ec1bb443498210",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "childInSeatTest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "d02b60947d84622b"
            ]
        ]
    },
    {
        "id": "743dbf36edf0d6eb",
        "type": "mqtt in",
        "z": "cb61235aabc67653",
        "name": "",
        "topic": "child-seat-ack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa1ef34d95c73406",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "1815bb940c8e17af"
            ]
        ]
    },
    {
        "id": "26ccefa726b5eb0b",
        "type": "change",
        "z": "cb61235aabc67653",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "d02b60947d84622b"
            ]
        ]
    },
    {
        "id": "1815bb940c8e17af",
        "type": "change",
        "z": "cb61235aabc67653",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 740,
        "wires": [
            [
                "d02b60947d84622b"
            ]
        ]
    }
]